#!/bin/bash
# alias bat='bat --style header,rule'
# alias tmux=tmux_fn
alias vim=nvim
alias vi=nvim
alias cd='z'
alias batn='bat --style header,numbers'
alias chux='chmod u+x'
alias repo='gh repo'
alias clone='repo clone'
alias create='create_main.sh'
alias create='repo create'
alias delete='repo delete'
alias docker='sudo docker'
alias add='git add'
alias gccf='gcc -g -Wall -Werror -Wextra -pedantic -std=gnu89'
alias gccs='gcc -g -Wall -Werror -Wextra -pedantic -std=gnu89 -fsanitize=address -fsanitize=undefined'
alias gc='git commit'
alias gcm='git commit -m'
alias push='git push'
alias st='git status'
alias co='git checkout'
alias ls='eza --icons -hH --group-directories-first'
alias l='ls'
alias ll='ls -l'
alias la='ls -a'
alias lt='ls -T -I "env|__pycache__|node_modules"'
alias nv='nvim'
alias valgrindf='valgrind -s --leak-check=full --show-leak-kinds=all   --show-mismatched-frees=yes --track-origins=yes'
alias x='clear'
alias ff="fzf --preview='bat {}' --preview-window=right:50%"
alias redis='redis-cli'
alias td='tmux detach'
alias ta='tmux attach'
alias feh='feh -.'
