*microsoft*
.zsh_history
lain
freedesktop
tmux-kanagawa
github-copilot
gh
tmux/plugins/
tmux-fzf
nvim
akonadi*
__pycache__

# Most of these change too often, so they're better off ignored
.config/ibus
    .config/X-Cinnamon-xdg-terminals.list
    .config/arkrc
    .config/baloofileinformationrc
    .config/bluedevilglobalrc
    .config/breezerc
    .config/discoverrc
    .config/dolphinrc
    .config/dragonplayerrc
    .config/emaildefaults
    .config/gwenviewrc
    .config/kaccessrc
    .config/kactivitymanagerd-statsrc
    .config/kactivitymanagerdrc
    .config/kcmfonts
    .config/kcminputrc
    .config/kconf_updaterc
    .config/kfontinstuirc
    .config/kgammarc
    .config/kglobalshortcutsrc
    .config/ki
    .config/kinfocenterrc
    .config/kitty/Arthur.conf
    .config/kitty/Modus_Vivendi.conf
    .config/kitty/current-theme.conf
    .config/kitty/diff.conf
    .config/kitty/kanagawa.conf
    .config/kitty/kitty.conf
    .config/kitty/kitty.conf.bak
    .config/kitty/rose-pine.conf
    .config/kmail2rc
    .config/kmixrc
    .config/konq_history
    .config/konquerorrc
    .config/konsolerc
    .config/konsolesshconfig
    .config/kprivacyrc
    .config/krunnerrc
    .config/kscreenlockerrc
    .config/ksmserverrc
    .config/ksplashrc
    .config/ktimezonedrc
    .config/kwalletmanager5rc
    .config/kwalletrc
    .config/kwin_dialogsrc
    .config/kwinrc
    .config/kwinrulesrc
    .config/kwriterc
    .config/kxkbrc
    .config/mimeapps.list
    .config/okularpartrc
    .config/okularrc
    .config/partitionmanagerrc
    .config/powerdevilrc
    .config/powermanagementprofilesrc
    .config/sddmthemeinstallerrc
    .config/spectaclerc
    .config/sweeperrc
    .config/systemmonitorrc
    .config/systemsettingsrc
    .config/touchpadxlibinputrc
    .config/user-dirs.dirs
    .config/user-dirs.locale
    .config/webengineurlinterceptoradblockrc
    .config/xdg-desktop-portal-kderc
    .config/xdg-terminals.list
